@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --md-font-size: 1rem;
  --lg-font-size: 1.25rem;
  --xl-font-size: 1.5rem;
  --xxl-font-size: 2rem;
  --xxxl-font-size: 3rem;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}